
    {{#each article}}
    <div class="content-box" id="{{this._id}}">
      <div class="article-box-header">
        <a href="{{this.link}}"><h3 class="article-title">{{this.title}}</h3></a>
        <button class="add-comment"></button>
        <button class="delete-article"></button>
      </div>
      <div class="article-content">
        <div class="article-image">
          <img src="{{this.image}}">
        </div>
        <p class="article-preview">{{this.text}}</p>
      </div>
    </div>
    {{/each}}

