
  {{#each savedA}}
  <div class="content-box" id="{{this._id}}">
    <div class="article-box-header">
      <a href="{{this.link}}"><h3 class="article-title">{{this.title}}</h3></a>
      <button id="add-note">Notes</button>
      <button id="delete-article">Delete from saved</button>
    </div>
    <div class="article-content">
      <div class="article-image">
        <img src="{{this.image}}">
      </div>
      <p class="article-preview">{{this.text}}</p>
    </div>
  </div>

  {{!--modal-{{id}} is necessary for accessing the modal later using jQuery--}}
  {{!--we nest the modal inside {{each}} so that it can inherit the {{this._id}} and {{this.title}}--}}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal-{{this._id}}"> 
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="arc-title">{{this.title}}</h4>
        </div>
        <div class="modal-body">
          {{!--use dynamic javascript to populate the DOM here instead of using handlebars --}}
          <div class="all-notes" id="notes-{{this._id}}">
            
          </div>
          {{!--add new notes here--}}
          <form method="POST" action="/note/new">
            <p>Add a new note</p>
            <input type="hidden" name="articleId" value="{{this._id}}">
            <input type="textarea" id="noteContent" name="noteContent" placeholder="Add a note">
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {{/each}}
